.counter-item {
  align-items: center;
  display: flex;
  margin: 20px;
  gap: 33px;
  justify-content: center;

  .text {
    width: 210px;
  }
}

@media(max-width:599px) {
  .counter-item {
    justify-content: center;
    margin: 16px 32px
  }
}

.counter-item figure {
  border: 1px solid var(--v-primary-base);
  border-radius: 10px;
  transform: rotate(45deg);
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle
}

[dir=ltr] .counter-item figure {
  margin-right: 40px
}

[dir=rtl] .counter-item figure {
  margin-left: 40px
}

@media(max-width:599px) {
  .counter-item figure {
    width: 70px;
    height: 70px;
    line-height: 70px
  }
}

.counter-item figure img {
  transform: translateY(10px) rotate(-45deg);
  width: 110%;
  max-height: 120px;
  margin: 0 auto
}

@media(max-width:599px) {
  .counter-item .text {
    flex: 1
  }
}

.counter-item h4 {
  font-size: 36px
}

@media(max-width:959px) {
  .counter-item h4 {
    margin-top: 24px
  }
}

@media(max-width:599px) {
  .counter-item h4 {
    font-size: 24px
  }
}

.counter-item h6 {
  color: rgba(0, 0, 0, .54)
}